## These variables have default values set when utils.sh is sourced

export INFORMATION_SERVICE_URL=localhost/information
export INFORMATION_SERVICE_LOGIN=scalarm
export INFORMATION_SERVICE_PASSWORD=scalarm1024

export SECRET_KEY_BASE=dfjeiwu38r782781j38nx9

export GIT_BRANCH=development
export RAILS_ENV=production
export SCALARM_ROOT=$HOME/deployment

# only if nginx installation is used
export PUBLIC_NGINX_ADDRESS="localhost"

## These variables are need to be set by user (have no default values)

# only if each service is started separately
export PUBLIC_LOG_BANK_ADDRESS="149.156.11.4:10043"
export PUBLIC_EXPERIMENT_MANAGER_ADDRESS="149.156.11.4:10031"
export PUBLIC_DATA_EXPLORER_ADDRESS="149.156.11.4:10044"
export PUBLIC_PATHFINDER_ADDRESS="149.156.11.4:10045"
