export INFORMATION_SERVICE_URL=localhost:11300
export INFORMATION_SERVICE_LOGIN=scalarm
export INFORMATION_SERVICE_PASSWORD=scalarm1024
export SECRET_KEY_BASE=dfjeiwu38r782781j38nx9
export GIT_BRANCH=development
export RAILS_ENV=production

export PUBLIC_LOG_BANK_ADDRESS="149.156.11.4:10043"
export PUBLIC_EXPERIMENT_MANAGER_ADDRESS="149.156.11.4:10031"
