export INFORMATION_SERVICE_URL=localhost/information
export INFORMATION_SERVICE_LOGIN=scalarm
export INFORMATION_SERVICE_PASSWORD=scalarm1024
export SECRET_KEY_BASE=dfjeiwu38r782781j38nx9
export GIT_BRANCH=development
export RAILS_ENV=production
export SCALARM_ROOT=/home/ubuntu/deployment

export PUBLIC_LOG_BANK_ADDRESS="149.156.11.4:10043"
export PUBLIC_EXPERIMENT_MANAGER_ADDRESS="149.156.11.4:10031"
export PUBLIC_DATA_EXPLORER_ADDRESS="149.156.11.4:10044"
export PUBLIC_PATHFINDER_ADDRESS="149.156.11.4:10045"

export PUBLIC_NGINX_ADDRESS="149.156.11.4:10046"